body {
    margin: 0;
}

#delivery {
    height: 80vh;
    background-color: #fff9ea;

    display: flex;
    flex-direction: column;  /* coloca em coluna */
    justify-content: center; /* centro vertical */
    align-items: center;     /* centro horizontal */
    text-align: center;
    gap: 20px;
}

.imagem-ifood {
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    margin: 20px 0;
}
#delivery span {
    color: #ff8d57;
    font-weight: bold;
    font-size: 1.0em;
}
#delivery span {
    display: block;
}
#delivery h2 {
    font-size: 2.5em;
    color: #1d1d1d;
    margin: 0;
}
.btn-default {
    text-decoration: none; /* remove sublinhado */
    color: white; /* define cor do texto */
}
