#delivery {
    width: 100%;
    height: 100vh;
    background-color: #fff9ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delivery_content {
    display: flex;
    align-items: center;
    gap: 48px;
}

#delivery_content .section-subtitle {
    font-size: 3rem;
}

