body {
    padding-top: 100px; /* altura do header */
}

.login-form {
    min-height: calc(70vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
