.login-form {
    min-height: auto; /* deixa a altura natural */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* fundo leve */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.login-form input[type="email"]:focus {
    border-color: lightsalmon
}

.login-form button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: lightsalmon;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-form button:hover {
    background-color: #fc956d; /* laranja mais escuro */
}